<!DOCTYPE html>
<html>
    <head>
        <title>FakeAir</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="height=device-height, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <link async="" rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style rel="stylesheet">
          html,
          body {
            height: 100%;
            overflow: hidden;
          }

          html {
            background-color: #222;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
            background-repeat: repeat;
          }

          @media only screen and (max-width: 500px) {
            body {
            	overflow: scroll;
              height: 100%;
            }

            #avPopup {
              width: 82vw;
              left: 62vw;
              margin: -39vw 0 0 -52.9vw;
            }
          }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
    </head>
    <body>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div style="max-width: 86vw;" class="container">
        <a class="navbar-brand" href="/">FakeAir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Book Flight</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manage">Manage</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>

      <% if ( error.length || success.length ) { %>
        <div id="flashMessage" class='container'>
            <div class="alert alert-<%= (error.length) ? 'danger' : 'success'  %>" role="alert">
                <%= (error.length) ? error[0] : success[0] %>
            </div>
        </div>
      <% } %>
