<% include partials/header %>

<div id="temp" class="container">
  <div id="admin-row" class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
        Add Airport
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Airport</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/admin" method="post">
                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label for="iata">IATA</label>
                    <input name="airport[iata]" type="text" class="form-control" id="iata" placeholder="IATA">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="country">Country</label>
                    <input name="airport[country]" type="text" class="form-control" id="country" placeholder="Country">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="state">State</label>
                    <input name="airport[state]" type="text" class="form-control" id="state" placeholder="State">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="city">City</label>
                    <input name="airport[city]" type="text" class="form-control" id="city" placeholder="City">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="longitude">Aiport Name</label>
                    <input name="airport[name]" type="text" class="form-control" id="name" placeholder="Airport Name">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="longitude">Longitude</label>
                    <input name="airport[longitude]" type="number" step="any" class="form-control" id="longitude" placeholder="Longitude">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="latitude">Latitude</label>
                    <input name="airport[latitude]" type="number" step="any" class="form-control" id="latitude" placeholder="Latitude">
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>



  <div id="admin-row" class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#exampleModal1">
        Add Airline
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Airline</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/admin" method="post">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="code">Code</label>
                    <input name="airline[code]" type="text" class="form-control" id="code" placeholder="Code">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="name-airline">Name of Airline</label>
                    <input name="airline[name-airline]" type="text" class="form-control" id="name-airline" placeholder="Name of Airline">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="country-origin">Country of Origin</label>
                    <input name="airline[country-origin]" type="text" class="form-control" id="country-origin" placeholder="Country of Origin">
                  </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
</div>
</div>


  <div id="admin-row" class="row">
    <div class="col-sm-2 col-md-2"></div>
    <div class="col-sm-8 col-md-8">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#exampleModal2">
        Add Flight
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Flight</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/admin" method="post">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="code">Code</label>
                    <select name="flight[code]" class="form-control" id="flightcode">
                      <% airlinecodes.forEach(function(airl) { %>
                        <option><%= airl.code %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="number">Number</label>
                    <input name="flight[number]" type="text" class="form-control" id="number" placeholder="Number">
                  </div>
                  <div class="form-group col-md-5">
                    <label for="date">Date</label>
                    <input name="flight[date]" type="date" class="form-control" id="date" placeholder="Date">
                  </div>
                </div>
               <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="departure-airport">Departure airport</label>
                    <select name="flight[departure-airport]" class="form-control" id="departure-airport">
                      <% airportcodes.forEach(function(code) { %>
                        <option><%= code.iata %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="arrival-airport">Arrival Airport</label>
                    <select name="flight[arrival-airport]" class="form-control" id="arrival-airport">
                      <% airportcodes.forEach(function(code) { %>
                        <option><%= code.iata %></option>
                      <% }); %>
                    </select>
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="departure-time">Departure Time</label>
                    <input name="flight[departure-time]" type="time" class="form-control" id="departure-time" placeholder="Departure Time">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="arrival-time">Arrival Time</label>
                    <input name="flight[arrival-time]" type="time" class="form-control" id="arrival-time" placeholder="Arrival Time">
                  </div>
               </div>
               <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="econ-cap">Econ Seats</label>
                    <input name="flight[econ-cap]" type="int" class="form-control" id="econ-cap" placeholder="Max Cap(Economy)">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="first-cap">First Steats</label>
                    <input name="flight[first-cap]" type="int" class="form-control" id="first-cap" placeholder="Max Cap(First Class)">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="first-cap">Miles</label>
                    <input name="flight[miles]" type="double" class="form-control" id="miles" placeholder="Miles">
                  </div>
                </div>
               <div class="form-row">
                 <div class="form-group col-md-6">
                   <label for="code">First Class</label>
                   <input name="flight[firstclass]" type="double" class="form-control" id="fc-price" placeholder="Price">
                 </div>
                 <div class="form-group col-md-6">
                   <label for="class">Economy Class</label>
                   <input name="flight[econclass]" type="double" class="form-control" id="ec-price" placeholder="Price">
                 </div>
               </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>

          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2"></div>
      </div>
  </div>
</div>
</div>

</div>
<% include partials/footer %>
