<% include partials/header %>

<div id="landing-header">
 		<h1>Welcome to FakeAir!</h1>
		<a href="#" class="btn btn-lg btn-success">Book A Flight!</a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>
