<% include partials/header %>

<div class="container">
  <div id="searchrow" class="row">
    <div class="col-md-8">
      <h2 id="departingheading">Departing </h2>
      <i id="departicon" class="material-icons">flight_takeoff</i>
      <hr style="margin-top: 0.3rem;">
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h3 class="mb-0">
              <p class="flightitle" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 2 Connections
              </p>
              <div class="pretty p-icon p-round p-pulse">
                  <input type="checkbox" />
                  <div class="state p-success">
                      <i class="icon mdi mdi-check"></i>
                      <label></label>
                  </div>
              </div>
            </h3>
          </div>

          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <h4>Route</h4>
              <h5>
                <button type="button" class="btn btn-light" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Flight Details" data-html="true" data-content="<div><strong>Departs: </strong>10:00pm</div> <div><strong>Lands: </strong>6:00am</div>">ORD</button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <button type="button" class="btn btn-light" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Flight Details" data-html="true" data-content="<div><strong>Departs: </strong>10:00pm</div> <div><strong>Lands: </strong>6:00am</div>">MAD</button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <button type="button" class="btn btn-light" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Flight Details" data-html="true" data-content="<div><strong>Departs: </strong>10:00pm</div> <div><strong>Lands: </strong>6:00am</div>">LHE</button>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 2.5vh;">
        <h2 id="departingheading">Returning </h2>
        <i id="returningicon" class="material-icons">flight_land</i>
      </div>
      <hr style="margin-top: 0.3rem;">
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h3 class="mb-0">
              <p class="flightitle" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                 Direct
              </p>
              <div class="pretty p-icon p-round p-pulse">
                  <input type="checkbox" />
                  <div class="state p-success">
                      <i class="icon mdi mdi-check"></i>
                      <label></label>
                  </div>
              </div>
            </h3>
          </div>

          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <h4>Route</h4>
              <h5>
                <button type="button" class="btn btn-light" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Flight Details" data-html="true" data-content="<div><strong>Departs: </strong>10:00pm</div> <div><strong>Lands: </strong>6:00am</div>">ORD</button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <button type="button" class="btn btn-light" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Flight Details" data-html="true" data-content="<div><strong>Departs: </strong>10:00pm</div> <div><strong>Lands: </strong>6:00am</div>">MAD</button>
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <button type="button" class="btn btn-light" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Flight Details" data-html="true" data-content="<div><strong>Departs: </strong>10:00pm</div> <div><strong>Lands: </strong>6:00am</div>">LHE</button>
              </h5>
              <div id="chartdiv"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="summary-column" class="col-md-4">

      <div class="card">
        <h3 class="card-header">Trip Summary</h3>
        <div class="card-body">
          <h5 class="card-text tripBold">Trips:</h5>
          <p class="card-text text-right">ORD -> MAD -> LHE</p>
          <h5 class="card-text tripBold">Total duration:</h5>
          <p class="card-text text-right">10 hours.</p>
          <h5 class="card-text tripBold">Price:</h5>
          <p class="card-text text-right">$1000.98</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
      </div>

    </div>
  </div>
</div>

<% include partials/footer %>
