body {
  background-color: #000;
}

.img-thumbnail {
  z-index: 1;
  position: relative;
  color: #eaecef;
  background: rgba(0,0,0,0.5);
  border: none;
  padding: 20px;
  margin-top: 6vh;
  width: 100%;
  opacity: 0;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: white;
  font-size: 8vh;
}

#landing-button {
  font-size: 3vh;
}

@media only screen and (max-width: 500px) {
  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 28vh;
  }
}

/*For custom styling of buttons if ever needed*/

/*.btn-success {
  background-color: #ad0000;
  border-color: #ad0000;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:focus:active:visited {
    color: #fff;
    background-color: #820000;
    border-color: #820000;
}

.btn-success.focus, .btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(229,64,64,0.5);
}*/

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(/images/ap1.jpg)
}
.slideshow li:nth-child(2) {
  background-image: url(/images/ap2.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(/images/ap3.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(/images/ap4.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(/images/ap5.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}
