/* Transparent Overlay */
.loading {
  z-index: 999;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

svg {
  width: 50%;
  height: 50%;
  margin-top: 16.5vh;
  margin-left: 25.5vw;
  visibility: hidden;
}

@media only screen and (max-width: 500px) {
  svg {
    width: 161vw;
    height: 161vw;
    margin-top: -2.5vh;
    margin-left: -30vw;
    visibility: hidden;
  }
}
