#admin-row {
  margin-top: 6vh;
}

#flashMessage {
  margin-top: 18px;
}

.btn-info {
  background-color: #ad0000;
  border-color: #ad0000;
}

.btn-info:hover, .btn-info:active {
    color: #fff;
    background-color: #820000;
    border-color: #820000;
}

.btn-info.focus, .btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(229,64,64,0.5);
}
